<div class="bgdesk">
  <h2>E-commerce</h2>
  <hr>
  <div class="center">
    <table>
      <tr>
        <td>
          <label class="thfont">CODICE</label>
          <br>
          <input type="text" [(ngModel)]="prodotto.codice" placeholder="Inserisci codice prodotto">
          <br>
          <label class="thfont">PREZZO (&euro;)</label>
          <br>
          <input type="number" [(ngModel)]="prodotto.prezzo" placeholder="Inserisci prezzo prodotto">
        </td>
        <td>
          <label class="thfont">DESCRIZIONE</label>
          <br>
          <textarea class="texta" rows="4" cols="40" type="text" [(ngModel)]="prodotto.descrizione"
            placeholder="Inserisci descrizione prodotto">
      </textarea>
        </td>
        <!--Gestione Bottone Aggiungi-->
        <td *ngIf="enableA ; else elseBlock">
          <button (click)="aggiungi()">Aggiungi</button>
        </td>
        <ng-template #elseBlock>
          <td>
            <button disabled>Aggiungi</button>
          </td>
        </ng-template>
      </tr>
    </table>

    <hr>
    <div class="scrodiv">
      <table>
        <tr>
          <th class="td0, thfont"> </th>
          <th class="td1, thfont">CODICE</th>
          <th class="td2, thfont">DESCRIZIONE</th>
          <th class="td3, thfont">PREZZO (&euro;)</th>
          <th class="td1, thfont"> </th>

        </tr>

        <tr *ngFor="let p of catalogo ; index as i">
          <!--Gestione Bottone Seleziona-->
          <td class="td0 " *ngIf="!deselectS[i]; else elseBlock">
            <button data-tooltip="Seleziona prodotto" class="buttondeselect" (click)="select(i)"></button>

          </td>
          <ng-template #elseBlock>
            <td class="td0">
              <button data-tooltip="Deseleziona prodotto" class="buttonselect" (click)="deselect(i)"></button>
            </td>
          </ng-template>


          <td class="td1">{{p.codice}}</td>
          <td class="td2">{{p.descrizione}}</td>
          <td class="td3">{{p.prezzo}}</td>


          <!--Gestione Bottone Rimuovi-->
          <td class="td0">
            <button data-tooltip="Rimuovi prodotto" class="buttonerase" (click)="rimuovi(i)"></button>
          </td>

          <!--Gestione Bottone Modifica-->
          <td class="td0" *ngIf="showE[i]">
            <button data-tooltip="Modifica prodotto" class="buttonmodifica" (click)="edit(i)"></button>
          </td>
          <td class="td0" *ngIf="disableE[i]">
            <button class="buttondismodifica" disabled></button>
          </td>
          <!--Gestione Bottoni Conferma/Cancella-->
          <td class="td0" *ngIf="showCC[i]">
            <button data-tooltip="Conferma modifica" class="buttonconferma" (click)="confirm(i)"></button>
            <br>
            <button data-tooltip="Annulla modifica" class="buttoncancel" (click)="cancel(i)"></button>
          </td>

        </tr>

      </table>
    </div>
  </div>
</div>