<div class="bgdesk">
  <h2>Lista della Spesa</h2>
  <hr>
  <div class="center">
    <table>
      <tr>
        <td>
          <label class="thfont">PRODOTTO:</label>
          <br>
          <input type="text" [(ngModel)]="prodotto.nome" placeholder="Inserisci nome prodotto">
        </td>
        <button (click)="addProdotto()">Aggiungi</button>
      
        <button (click)="deleteAll()">Reset</button>
        {{messaggioNotifica}}


      </tr>
    </table>

    <hr>
    <div class="scrodiv">
      <table>
        <tr>
          <th class="td0, thfont"> </th>
          <th class="td1, thfont">NOME PRODOTTO</th>
          <th class="td1, thfont"> </th>

        </tr>

        <tr *ngFor="let p of listaSpesa ; index as i">
          <td class="td1">{{p.nome}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>