<div class="bgdesk">
  <table>
    <tr>
      <td class="tdcol1">
      </td>
      <td class="tdcol2">
        <h2>LISTA DELLA SPESA</h2>
      </td>
      <td class="tdcol3">
        <img class="immaginegrande" src="spesa.png" />
      </td>
      <td class="tdcol4">
      </td>
  </table>
  <hr>
  <div class="center">
    <table>
      <tr>
        <td>
          <label class="thfont">Prodotto: </label>
          <input type="text" [(ngModel)]="prodotto" placeholder="Inserisci nome prodotto">
        </td>
        <td>
          <button (click)="addProdotto()">Aggiungi</button>
        </td>
      </tr>
    </table>
    <hr>
    <div class="scrodiv">
      <table>
        <tr>
          <th class="td1, thfont">LA TUA LISTA</th>
          <th class="td0, thfont"></th>
        </tr>
        <tr *ngFor="let p of listaSpesa ; index as i">
          <td class="td1">{{p.nome}}</td>
          <!--Gestione Bottone Rimuovi-->
          <td class="td0">
            <button data-tooltip="Rimuovi prodotto" class="buttonerase" (click)="delete(i)"></button>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <td class="tdright">
          <button (click)="deleteAll()">Reset</button>
        </td>
      </table>
    </div>
  </div>
</div>